<div class="container-fluid bg-info">
    <div class="row">
        <div class="col-md-4 mt-3 mb-3"> 

            <img src="https://img.freepik.com/foto-gratis/paisaje-forestal_71767-127.jpg" alt="Imagen 1" class="img-fluid rounded" style="width: 100%;">
            <figcaption class="text-white font-weight-bold">Descripcion de la Imagen: Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ut beatae quod omnis vitae suscipit rerum quisquam libero sed labore enim atque ipsa hic quas odio sunt quam cumque aut.</figcaption>
        </div>
        <div class="col-md-4 mt-3 mb-3">
            <img src="https://img.freepik.com/foto-gratis/paisaje-forestal_71767-127.jpg" alt="Imagen 2" class="img-fluid rounded" style="width: 100%;">
            <figcaption class="text-white font-weight-bold">Descripcion de la Imagen: Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ut beatae quod omnis vitae suscipit rerum quisquam libero sed labore enim atque ipsa hic quas odio sunt quam cumque aut.</figcaption>
        </div>
        <div class="col-md-4 mt-3 mb-3">
            <img src="https://img.freepik.com/foto-gratis/paisaje-forestal_71767-127.jpg" alt="Imagen 3" class="img-fluid rounded" style="width: 100%;">
            <figcaption class="text-white font-weight-bold">Descripcion de la Imagen: Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ut beatae quod omnis vitae suscipit rerum quisquam libero sed labore enim atque ipsa hic quas odio sunt quam cumque aut.</figcaption>
        </div>
    </div>
</div>